<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>pattern evidence</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <h4 class="mb-4">add pattern evidence</h4>
    <form>
      

      <!-- Complaint Text -->
 <div class="mb-3">
          <div class="form-group">
                        <label for="File name">File name</label>
                        <input type="text" class="form-control" id="File name" name="File name" placeholder="" required>
                    </div>
      <div class="mb-3">
          <div class="form-group">

        <label for="send" class="form-label">Pattern Type</label>
        <select class="form-control" id="Pattern Type" name="Pattern Type" rows="4" placeholder="" required>
            <option>Fingerprints</option>
              <option>Footprints</option>
              <option>Tire marks</option>
              <option>Tool marks</option>
              <option>Bloodstain patterns</option>




        </select>
      </div>
      <div class="form-group">
                        <label for="capture method">Capture_method</label>
                        <input type="text" class="form-control" id="capture method" name="capture method" placeholder="" required>
                    </div>
                     <div class="form-group">
                        <label for="Collected from">Collected_from</label>
                        <input type="text" class="form-control" id="Collected from" name="Collected from" placeholder="" required>
                    </div>

        <div class="form-group">
                        <label for="Collected at">Collected_at</label>
                        <input type="text" class="form-control" id="Collected at" name="Collected at" placeholder="" required>
                    </div>

          <div class="form-group">
                        <label for="file hash">File hash</label>
                        <input type="text" class="form-control" id="file hash " name="file hash" placeholder="" required>
                    </div>










      <!-- Optional File Upload -->

      <!-- Submit Button -->

    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
