<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>audio visual evidence</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <h4 class="mb-4">add audio visual evidence</h4>
    <form>
      

      <!-- Complaint Text -->

      <div class="mb-3">
          <div class="form-group">

        <label for="send" class="form-label">media Type</label>
        <select class="form-control" id="media Type" name="media Type" rows="4" placeholder="" required>
            <option>cctv recordings</option>
              <option>audio recordings</option>
              <option>video clips</option>
              <option>body camera footage</option>



        </select>
      </div>
      <div class="form-group">
                        <label for="duration_seconds">duration_seconds</label>
                        <input type="text" class="form-control" id="duration_seconds" name="duration_seconds" placeholder="" required>
                    </div>
                     <div class="form-group">
                        <label for="format">format</label>
                        <input type="text" class="form-control" id="format" name="format" placeholder="" required>
                    </div>

        <div class="form-group">
                        <label for="Collected from">Collected from</label>
                        <input type="text" class="form-control" id="Collected from" name="Collected from" placeholder="" required>
                    </div>

        <div class="form-group">
                        <label for="Collected at">Collected at</label>
                        <input type="text" class="form-control" id="Collected at" name="Collected at" placeholder="" required>
                    </div>

           <div class="form-group">
                        <label for="digital hash">file hash</label>
                        <input type="text" class="form-control" id="file hash" name="file hash" placeholder="" required>
                    </div>



           <div class="form-group">
                        <label for="digital hash">file</label>
                        <input type="file" class="form-control" id="file" name="file" placeholder="" required>
                    </div>








      <!-- Optional File Upload -->

      <!-- Submit Button -->

    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
