<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>physical evidence</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <h4 class="mb-4">Add Physical Evidence</h4>
    <form method="post" action="/myapp/add_physicalevidence_post/" enctype="multipart/form-data">>
        {% csrf_token %}
       <input type="hidden" name="caseid" value="{{ id }}">

      <!-- Complaint Text -->
 <div class="mb-3">
          <div class="form-group">
                        <label for="File name">File name</label>
                        <input type="file" class="form-control" id="File name" name="File name" placeholder="" required>
                    </div>
      <div class="mb-3">
        <label for="send" class="form-label">Evidence Type</label>
        <select class="form-control" id="send" name="evidencetype" rows="4" placeholder="" required>
            <option>Weapons</option>
              <option>Bloodstains</option>
              <option>Fibre</option>
              <option>Hair</option>
              <option>Soil</option>


        </select>
      </div>
      <div class="form-group">
                        <label for="Description">Description</label>
                        <input type="text" class="form-control" id="Description" name="Description" placeholder="" required>
                    </div>
                     <div class="form-group">
                        <label for="Collection Location">Collection_Location</label>
                        <input type="text" class="form-control" id="Collection Location" name="Collection Location" placeholder="" required>
                    </div>
         <div class="form-group">
                        <label for="Collected Date">Collected_Date</label>
                        <input type="date" class="form-control" id="Collected Date" name="Collected Date" placeholder="" required>
                    </div>
        <div class="form-group">
                        <label for="Collected Time">Collected_Time</label>
                        <input type="time" class="form-control" id="Collected Time" name="Collected Time" placeholder="" required>
                    </div>
        <div class="form-group">
                        <label for="Digital Hash">Digital Hash</label>
                        <input type="text" class="form-control" id="Digital Hash" name="Digital Hash" placeholder="" required>
                    </div>






      <!-- Optional File Upload -->

      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary">Submit</button>

    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
