<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>financial accounting evidence</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <h4 class="mb-4">add financial accounting evidence</h4>
    <form>
      

      <!-- Complaint Text -->
 <div class="mb-3">
          <div class="form-group">
                        <label for="File name">File name</label>
                        <input type="text" class="form-control" id="File name" name="File name" placeholder="" required>
                    </div>
      <div class="mb-3">
          <div class="form-group">

        <label for="send" class="form-label">Transaction Type</label>
        <select class="form-control" id="Transaction Type" name="Transaction Type" rows="4" placeholder="" required>
            <option>Bank statement</option>
              <option>Transaction log</option>
              <option>Cryptocurrency records</option>
              <option>Invoices</option>



        </select>
      </div>
      <div class="form-group">
                        <label for="reference_number">Reference_number</label>
                        <input type="text" class="form-control" id="reference_number" name="reference_number" placeholder="" required>
                    </div>
                     <div class="form-group">
                        <label for="amount">Amount</label>
                        <input type="number" class="form-control" id="amount" name="amount" placeholder="" required>
                    </div>

        <div class="form-group">
                        <label for="Collected from">Collected_from</label>
                        <input type="text" class="form-control" id="Collected from" name="Collected from" placeholder="" required>
                    </div>

        <div class="form-group">
                        <label for="Collected at">Collected_at</label>
                        <input type="text" class="form-control" id="Collected at" name="Collected at" placeholder="" required>
                    </div>

           <div class="form-group">
                        <label for="digital hash">Digital hash</label>
                        <input type="text" class="form-control" id="digital hash" name="digital hash" placeholder="" required>
                    </div>











      <!-- Optional File Upload -->

      <!-- Submit Button -->

    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
