<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>physical evidence</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <h4 class="mb-4">add physical evidence</h4>
    <form>
      

      <!-- Complaint Text -->

      <div class="mb-3">
        <label for="send" class="form-label">Evidence Type</label>
        <select class="form-control" id="send" name="send" rows="4" placeholder="" required>
            <option>weapons</option>
              <option>bloodstains</option>
              <option>fibre</option>
              <option>hair</option>
              <option>soil</option>


        </select>
      </div>
      <div class="form-group">
                        <label for="Description">Description</label>
                        <input type="text" class="form-control" id="Description" name="Description" placeholder="" required>
                    </div>
                     <div class="form-group">
                        <label for="Collection Location">Collection Location</label>
                        <input type="text" class="form-control" id="Collection Location" name="Collection Location" placeholder="" required>
                    </div>
         <div class="form-group">
                        <label for="Collected Date">Collected Date</label>
                        <input type="" class="form-control" id="Collected Date" name="Collected Date" placeholder="" required>
                    </div>
        <div class="form-group">
                        <label for="Collected Time">Collected Time</label>
                        <input type="" class="form-control" id="Collected Time" name="Collected Time" placeholder="" required>
                    </div>
        <div class="form-group">
                        <label for="Digital Hash">Digital Hash</label>
                        <input type="text" class="form-control" id="Digital Hash" name="Digital Hash" placeholder="" required>
                    </div>






      <!-- Optional File Upload -->

      <!-- Submit Button -->

    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
