<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>trace evidence</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <h4 class="mb-4">Add Trace Evidence</h4>
    <form method="post" action="/myapp/add_traceevidence_post/" enctype="multipart/form-data">
        {% csrf_token %}
         <input type="hidden" name="caseid" value="{{ id }}">
      

      <!-- Complaint Text -->
 <div class="mb-3">
          <div class="form-group">
                        <label for="File name">File name</label>
                        <input type="file" class="form-control" id="File name" name="File name" placeholder="" required>
                    </div>
      <div class="mb-3">
          <div class="form-group">

        <label for="send" class="form-label">Trace Type</label>
        <select class="form-control" id="Trace Type" name="Trace Type" rows="4" placeholder="" required>
            <option>Fiberes</option>
              <option>Paint chips</option>
              <option>Glass particles</option>
              <option>Greenshot residue</option>




        </select>
      </div>
      <div class="form-group">
                        <label for="Description">Description</label>
                        <input type="text" class="form-control" id="Description" name="Description" placeholder="" required>
                    </div>
                     <div class="form-group">
                        <label for="Collected from">Collected_from</label>
                        <input type="text" class="form-control" id="Collected from" name="Collected from" placeholder="" required>
                    </div>

        <div class="form-group">
                        <label for="Collected at">Collected_at</label>
                        <input type="text" class="form-control" id="Collected at" name="Collected at" placeholder="" required>
                    </div>
          <div class="form-group">
                        <label for="storage location">Storage_location</label>
                        <input type="text" class="form-control" id="storage location " name="storage location" placeholder="" required>
                    </div>
          <div class="form-group">
                        <label for="digital hash">Digital hash</label>
                        <input type="text" class="form-control" id="digital hash " name="digital hash" placeholder="" required>
                    </div>










      <!-- Optional File Upload -->

      <!-- Submit Button -->
           <button type="submit" class="btn btn-primary">Submit</button>

    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
