<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>digital evidence</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <h4 class="mb-4">Add Digital Evidence</h4>
<form method="post" action="/myapp/add_digitalevidence_post/" enctype="multipart/form-data">
        {% csrf_token %}
     <input type="hidden" name="caseid" value="{{ id }}">

      

      <!-- Complaint Text -->

      <div class="mb-3">
          <div class="form-group">
                        <label for="File name">File name</label>
                        <input type="file" class="form-control" id="File name" name="File name" placeholder="" required>
                    </div>
        <label for="send" class="form-label">File Type</label>
        <select class="form-control" id="" name="File Type" rows="4" placeholder="" required>
            <option>Mobile phones data</option>
              <option>Computer files</option>
              <option>Emails</option>
              <option>Cctv footage</option>
              <option>Call logs</option>
             <option>Social media records</option>
              <option>Cloud data</option>


        </select>
      </div>
      <div class="form-group">
                        <label for="File size">File size</label>
                        <input type="TEXT" class="form-control" id="File size" name="File size" placeholder="" required>
                    </div>
                     <div class="form-group">
                        <label for="Hash value">Hash value</label>
                        <input type="text" class="form-control" id="Hash value" name="Hash value" placeholder="" required>
                    </div>
         <div class="form-group">
                        <label for="Collected source">Collected_source</label>
                        <input type="text" class="form-control" id="Collected source" name="Collected source" placeholder="" required>
                    </div>
        <div class="form-group">
                        <label for="Collected Time">Collected_Time</label>
                        <input type="time" class="form-control" id="Collected Time" name="Collected Time" placeholder="" required>
                    </div>
        <div class="form-group">
                        <label for="Preservation Time">Preservation_Time</label>
                        <input type="time" class="form-control" id="Preservation Time" name="Preservation Time" placeholder="" required>
                    </div>







      <!-- Optional File Upload -->

      <!-- Submit Button -->
         <button type="submit" class="btn btn-primary">Submit</button>

    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
