<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration Data Table</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- DataTables CSS -->
  <link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <h2 class="mb-4">Assigned case</h2>
    <table id="registrationTable" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>slno.</th>
          <th>case_number</th>
          <th>case_title</th>
          <th>case_type</th>
          <th>date_of_incident</th>
          <th>case_description</th>
          <th>date_filed</th>
          <th>petitioner_name</th>
          <th>petitioner_email</th>
          <th>petitioner_phone</th>
          <th>petitioner_place</th>
          <th>petitioner_pincode</th>
          <th>petitioner_district</th>
          <th>petitioner_state</th>
          <th>accused</th>

          <th>filing_mode</th>
          <th>court_name</th>
          <th>judge_assigned</th>
          <th>priority</th>
          <th>remarks</th>
          <th>case_duration_days</th>
            <th>Audio_Evidence</th>
            <th>Biological_Evidence</th>
            <th>Chemical_Evidence</th>
            <th>Digital_Evidence</th>
            <th>Document_Evidence</th>
            <th>Financialaccoundind_Evidence</th>
            <th>Pattern_Evidence</th>
            <th>Physical_Evidence</th>
            <th>Trace_Evidence</th>

        </tr>
        </thead>
    <tbody>


        <!-- Sample Data Row -->
           {% for i in data %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ i.CASE.case_number }}</td>
          <td>{{ i.CASE.case_title }}</td>
          <td>{{ i.CASE.case_type }}</td>
          <td>{{ i.CASE.date_of_incident }}</td>
          <td>{{ i.CASE.case_description }}</td>
          <td>{{ i.CASE.date_filed }}</td>
          <td>{{ i.CASE.petitioner_name }}</td>
          <td>{{ i.CASE.petitioner_email }}</td>
          <td>{{ i.CASE.petitioner_phone }}</td>
          <td>{{ i.CASE.petitioner_place }}</td>
          <td>{{ i.CASE.petitioner_pincode }}</td>
          <td>{{ i.CASE.petitioner_district }}</td>
          <td>{{ i.CASE.petitioner_state }}</td>
          <td>{{ i.CASE.accused }}</td>
          <td>{{ i.CASE.filing_mode }}</td>
          <td>{{ i.CASE.court_name }}</td>
          <td>{{ i.CASE.judge_assigned }}</td>
          <td>{{ i.CASE.priority }}</td>
          <td>{{ i.CASE.remarks }}</td>
          <td>{{ i.CASE.case_duration_days }}</td>




          <td>
                <a href="/myapp/add_audiovisualevidence_get/{{ i.id }}" class="btn btn-danger">ADD</a>
                <a href="/myapp/view_audio_evidence/{{ i.id }}" class="btn btn-danger">VIEW</a>

            </td>
            <td>
                <a href="/myapp/add_biologicalevidence_get/{{ i.id }}" class="btn btn-danger">ADD</a>
                <a href="/myapp/view_biological_evidence/{{ i.id }}" class="btn btn-danger">VIEW</a>

            </td>
            <td>
                <a href="/myapp/add_chemicalevidence_get/{{ i.id }}" class="btn btn-danger">ADD</a>
                <a href="/myapp/view_chemical_evidence/{{ i.id }}" class="btn btn-danger">VIEW</a>

            </td>
            <td>
                <a href="/myapp/add_digitalevidence_get/{{ i.id }}" class="btn btn-danger">ADD</a>
                <a href="/myapp/view_digital_evidence/{{ i.id }}" class="btn btn-danger">VIEW</a>

            </td>
            <td>
                <a href="/myapp/add_documentevidence_get/{{ i.id }}" class="btn btn-danger">ADD</a>
                <a href="/myapp/view_document_evidence/{{ i.id }}" class="btn btn-danger">VIEW</a>

            </td>
            <td>
                <a href="/myapp/add_financialaccountingevidence_get/{{ i.id }}" class="btn btn-danger">ADD</a>
                <a href="/myapp/view_financial_evidence/{{ i.id }}" class="btn btn-danger">VIEW</a>

            </td>
         <td>
                <a href="/myapp/add_patternevidence_get/{{ i.id }}" class="btn btn-danger">ADD</a>
                <a href="/myapp/view_pattern_evidence/{{ i.id }}" class="btn btn-danger">VIEW</a>

            </td>
            <td>
                <a href="/myapp/add_physicalevidence_get/{{ i.id }}" class="btn btn-danger">ADD</a>
                <a href="/myapp/view_physical_evidence/{{ i.id }}" class="btn btn-danger">VIEW</a>

            </td>
            <td>
                <a href="/myapp/add_traceevidence_get/{{ i.id }}" class="btn btn-danger">ADD</a>
                <a href="/myapp/view_trace_evidence/{{ i.id }}" class="btn btn-danger">VIEW</a>

            </td>


        </tr>
               {% endfor %}

        <!-- Add more rows dynamically from backend -->
      </tbody>
    </table>
  </div>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#registrationTable').DataTable();
    });
  </script>
</body>
</html>
